@charset "UTF-8";

body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  background: #888;
  color: #222;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #aaa, #666);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

#noise {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 9998;

  background: repeating-radial-gradient(
    circle,
    rgba(255,255,255,0.08) 0px,
    rgba(0,0,0,0.08) 2px,
    transparent 4px
  );
}

.noise-active {
  opacity: 1;
}

.loader {
  text-align: center;
}

#loading-text {
  font-size: 16px;
  letter-spacing: 5px;
  color: #111;

  animation: zoom 3s infinite alternate;
}

@keyframes zoom {
  0% { transform: scale(1); opacity: 0.6; }
  100% { transform: scale(1.4); opacity: 1; }
}

.glitch {
  animation: glitch 0.2s;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-5px, 3px); }
  40% { transform: translate(5px, -3px); }
  60% { transform: translate(-3px, 2px); }
  80% { transform: translate(3px, -2px); }
  100% { transform: translate(0); }
}

.hero {
  width: 100%;
  height: 100vh;

  background-image: url("Liminal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  width: 600px; 
  max-width: 90%;
}

@media (max-width: 768px) {

  .hero {
    height: 100vh; 
  }

  .hero-logo {
    width: 90%; 
  }

}
body {
  margin: 0;
  background: #555;
  font-family: 'Share Tech Mono', monospace;
}

body {
  margin: 0;
  background: #444444;
  color: #eaeaea;
  font-family: 'Share Tech Mono', monospace;
}

.concept {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.08;
}

.wrapper {
  position: relative;
  max-width: 800px;
  padding: 40px;
}

.title {
  font-size: 48px;
  letter-spacing: 4px;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255,255,255,0.15);
}

.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.glitch::before {
  color: #ffffff;
  transform: translate(1px, -1px);
}

.glitch::after {
  color: #ffffff;
  transform: translate(-1px, 1px);
}

@keyframes subtleGlitch {
  0%, 90%, 100% {
    opacity: 0;
  }
  92% {
    opacity: 0.3;
  }
  94% {
    opacity: 0;
  }
  96% {
    opacity: 0.25;
  }
}

.glitch::before {
  animation: subtleGlitch 5s infinite;
}

.glitch::after {
  animation: subtleGlitch 5s infinite reverse;
}

.text-block p {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 1.5em;
  line-height: 1.9;
  letter-spacing: 1px;
  font-family: 'Orbitron', 'Share Tech Mono', monospace;
}

.highlight {
  background: rgba(204, 201, 201, 0.25); 
  padding: 20px 25px;
  border-radius: 8px;

  transform: scale(0.96);

  max-width: 90%;
  margin: 40px auto;

  box-shadow: 0 0 20px rgba(0,0,0,0.4);

  backdrop-filter: blur(4px);
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.2s forwards;
}

.fade:nth-of-type(1) { animation-delay: 0.5s; }
.fade:nth-of-type(2) { animation-delay: 2s; }
.fade:nth-of-type(3) { animation-delay: 4s; }
.fade:nth-of-type(4) { animation-delay: 6s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.danger {
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255,255,255,0.25);
  animation: softFlash 4s ease-in-out infinite;
}

.last {
  margin-top: 40px;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0.8;
}

.cinematic {
  text-align: center;
  margin-top: 80px;

  font-size: 20px;
  letter-spacing: 6px; 

  opacity: 0;
  animation: cinematicFade 2.5s forwards;
  animation-delay: 6.5s;

  color: #ffffff;
  text-shadow: 0 0 12px rgba(255,255,255,0.2);
}

@keyframes cinematicFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    letter-spacing: 6px;
  }
}

.gallery {
  display: flex;
  gap: 60px;
  padding: 20px 60px;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  scroll-snap-type: none; 
}

.gallery::-webkit-scrollbar {
  display: none;
}

.card {
  width: 220px;
  text-align: center;
  text-decoration: none;
  color: #ddd;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  filter: brightness(0.6) blur(1px);
  transition: 0.4s;
}

.card p {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.7;
  transition: 0.4s;

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover img {
  transform: scale(1.08);
  filter: brightness(1) blur(0);
}

.card:hover p {
  opacity: 1;
  letter-spacing: 4px;
}

@media (max-width: 768px) {
  .gallery {
    display: flex;
    gap: 40px;
    padding: 60px 20px;
  }

  .card img {
    width: 150px;
    height: 260px;
  }
}

.hero,
.concept,
.gallery {
  opacity: 0;
  transition: opacity 2s;
}

.show {
  opacity: 1;
}

.gallery {
  scroll-snap-type: x mandatory;
}

.card {
  scroll-snap-align: start;
}

body.page1 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page2 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page3 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page4 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page5 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page6 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page7 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page8 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page9 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page10 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

body.page11 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.08em;
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 100;
}

.menu-btn span {
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
  margin-bottom: 5px;
  transition: 0.3s;
}

.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(5px);
  transition: 0.4s;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu.active {
  right: 0;
}

.menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.menu li {
  margin: 20px 0;
}

.menu a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.menu a:hover {
  color: #ffdb3b;
  text-shadow: 0 0 8px rgb(255, 247, 0);
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.sub-menu li {
  margin: 8px 0;
}

.sub-menu a {
  font-size: 14px;
  color: #aaa;
  letter-spacing: 1px;
  transition: 0.3s;
}

.sub-menu a:hover {
  color: #ffdb3b;
  text-shadow: 0 0 6px rgb;
}

.memory-zone{
    width:100%;
    padding:120px 5%;
    background: #444444;
    color:white;
    box-sizing:border-box;
}

.memory-title{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    font-family:'Orbitron', sans-serif;
}

.memory-main{
    position:relative;
    width:100%;
    max-width:1100px;
    margin:auto;
}

#memory-image{
    width:100%;
    height:650px;

    object-fit:cover;

    border-radius:10px;

    transition:0.5s;

    filter:brightness(0.85);
}

.memory-info{
    position:absolute;

    bottom:30px;
    left:30px;

    background:rgba(169, 165, 47, 0.45);

    padding:20px;

    border-radius:10px;

    backdrop-filter:blur(5px);

    max-width:500px;
}

#memory-name{
    font-size:32px;
    margin-bottom:10px;
}

#memory-text{
    color:#d0d0d0;
    line-height:1.8;
}

.memory-grid{

    margin-top:40px;

    display:grid;

    grid-template-columns:
    repeat(4, 1fr);

    gap:20px;

    max-width:1100px;

    margin-inline:auto;
}

.memory-thumb{

    width:100%;
    aspect-ratio:16/9;

    object-fit:cover;

    cursor:pointer;

    opacity:0.5;

    transition:0.3s;

    border:2px solid transparent;

    border-radius:6px;
}

.memory-thumb:hover{

    opacity:1;

    transform:scale(1.03);
}

.memory-thumb.active{

    opacity:1;

    border-color:white;
}

@media (max-width:768px){

    .memory-title{
        font-size:40px;
    }

    #memory-image{
        height:300px;
    }

    .memory-info{

        position:relative;

        left:0;
        bottom:0;

        margin-top:15px;

        max-width:100%;
    }

    .memory-grid{

        grid-template-columns:
        repeat(2, 1fr);
    }

    #memory-name{
        font-size:24px;
    }
}

html{
    scroll-behavior:smooth;
}

.memory-main{
    scroll-margin-top:100px;
}
